.footer{
  background: #001821;
}

.footer__inner {
    display: flex;
    align-items: center;
    padding: 47px 0 47px;
  }

.footer__inner--border {
  border-top: 1px solid rgba(250, 250, 250, .1);
}

.footer__menu {
  margin-left: 80px;
}

.footer__social {
  margin-left: auto;
}

.footer__contacts {
    margin-left: 75px;
  }

