.header--services-page{
  background: url('../../img/services/headline.png') no-repeat center top;
  background-color: #001A25 ;
}
.header__inner {
  display: flex;
  padding: 22px 0;
  align-items: center;
  }

.header__contacts {
  margin-left: auto;
  }

  .header__menu {
  margin-left: 80px;
  }

