.hero {
    margin-bottom: 244px;
  }
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 530px;

  }

.hero__content {
    margin-top: auto;
}

.hero__content-block {
    width: 45%;
}

.hero__title {
    margin-bottom: 28px;
}

.hero__desc {
    margin-bottom: 29px;
    font-size: 18px;
}