.hero {
    background: url('../../img/services/headline.png') center / cover no-repeat;
    background-color: #001A25;
    min-height: 412px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;
    padding-bottom: 23px;
}

.hero__title {
    max-width: 45%;
    line-height: 1.1em;
    margin-bottom: 30px;
}