.news {
    margin-bottom: 145px;
  }

  .news__title {
    margin-bottom: 50px;
  }

  .news__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  .news__block {
    position: relative;
    max-width: 557px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
  }

  .news__image {
    display: block;
  }

  .news__block-content {
    position: absolute;
    left: 28px;
    bottom: 27px;
    padding-right: 28px;
  }


  .news__date {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1em;
  }

  .news__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5em;
  }

  .news__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
  }

  .news__desc p:not(:last-child) {
    margin-bottom: 15px;
  }