.services {
    margin-bottom: 85px;
}

.services__content {
    margin-bottom: 16px;
}

.services__list {
    display: flex;
    flex-direction: column;
}

.services__item {
    display: flex;
    margin-bottom: 49px;
}

.services__pic {
    align-self: flex-start;
    border-radius: 5px;
}

.services__item-content {
    padding: 10px 0 13px 58px;
}

.services__item-content p {
    font-size: 16px;
    line-height: 1.68em;
    margin-bottom: 34px;
    color: #303030;
}

.services__section-title {
    margin-bottom: 28px;
    font-size: 36px;
}