
  .social__list {
    display: flex;
  }

  .social__item + .social__item {
    margin-left: 10px;
  }

  .social__link {
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    position: relative;
  }

  .social__item--icon--telegram .social__link::before {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png') -10px -122px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    opacity: 0;
  }

  .social__item--icon--telegram .social__link::after {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png')   -10px -66px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }

  .social__item--icon--vk .social__link::before {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png') -122px -66px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    opacity: 0;
  }

  .social__item--icon--vk .social__link::after {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png')   -66px -122px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
  .social__item--icon--facebook .social__link::before {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png') -10px -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    opacity: 0;
  }

  .social__item--icon--facebook .social__link::after {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png')   -66px -66px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }

  .social__item--icon--instagram .social__link::before {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png') -66px -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    opacity: 0;
  }

  .social__item--icon--instagram .social__link::after {
    content: "";
    display: block;
    height: 36px;
    width: 36px;
     background: url('../../img/social/social-sprites.png')   -122px -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }

  .social__link:hover::before {
    opacity: 1;
    transition: .3s;
  }
  .social__link:hover::after {
    opacity: 0;
    transition: .3s;
  }
