.title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.36em;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

.section-title--black {
  color: #000000;
}

.subtitle-homepage {
  font-size: 18px;
  font-weight: 400;
  z-index: 10;
}